@page "/Create"

@inject JugadoresService jugadoresService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Crear Jugador</PageTitle>
<EditForm Model="Jugador" OnValidSubmit="Guardar">
	<DataAnnotationsValidator />

	<div class="container">
		<div class="card shadow-lg">
			@*Header*@
			<div class="card-header text-center">
				<h5 class="card-title">Crear Jugador</h5>
			</div>

			@*Body*@
			<div class="card-body">

				<div class="mb-3">
					<label class="form-label"><strong>JugadorId</strong></label>
					<InputNumber class="form-control" @bind-Value="Jugador.JugadorId" readonly/>
				</div>

				<div class="mb-3">
					<label class="form-label"><strong>Nombres</strong></label>
					<InputText class="form-control" @bind-Value="Jugador.Nombres" />
					<ValidationMessage For="@(() => Jugador.Nombres)" />
				</div>

				<div class="mb-3">
					<label class="form-label"><strong>Partidas</strong></label>
					<InputNumber class="form-control" @bind-Value="Jugador.Partidas" />
					<ValidationMessage For="@(() => Jugador.Partidas)" />
				</div>

				@if(!string.IsNullOrEmpty(AlertMessage))
				{
					<div class="alert alert-@AlertType alert-dismissible fade show" role="alert">
						<div>@AlertMessage</div>
					</div>
				}
			</div>

			@*Footer*@
			<div class="card-footer text-center mt-2">
				<div class="btn-group">
					@if (!(AlertType == "success"))
					{
						<button type="submit" class="btn btn-outline-success bi bi-check-circle"> Guardar</button>
					}
					<a href="/" class="btn btn-outline-secondary bi bi-arrow-bar-left"> Volver</a>
				</div>
			</div>
		</div>
	</div>
</EditForm>

@code {
	public Jugadores Jugador { get; set; } = new Jugadores();
	public string AlertMessage { get; set; }
	public string AlertType { get; set; }

	public async Task Guardar()
	{
		var creado = await jugadoresService.Guardar(Jugador);
		if (creado)
		{
			AlertMessage = "Jugador creado exitosamente.";
			AlertType = "success";
		}
		else
		{
			AlertMessage = "Error al crear el jugador.";
			AlertType = "danger";
		}
	}
}
