@page "/jugadores/edit/{JugadorId:int}"

@inject JugadoresService jugadoresService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Editar Jugador</PageTitle>
<EditForm Model="Jugador" OnValidSubmit="Modificar">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="container">
		<div class="card shadow-lg">

			@*Header*@
			<div class="card-header text-center">
				<h5 class="card-title">Editar Jugador</h5>
			</div>

			@*Body*@
			<div class="card-body">
				<div class="mb-3">
					<label class="form-label"><strong>JugadorId</strong></label>
					<InputNumber class="form-control" @bind-Value="Jugador.JugadorId" readonly />
				</div>

				<div class="mb-3">
					<label class="form-label"><strong>Nombres</strong></label>
					<InputText class="form-control" @bind-Value="Jugador.Nombres" />
					<ValidationMessage For="@(() => Jugador.Nombres)" />
				</div>

				<div class="mb-3">
					<label class="form-label"><strong>Partidas</strong></label>
					<InputNumber class="form-control" @bind-Value="Jugador.Partidas" />
					<ValidationMessage For="@(() => Jugador.Partidas)" />
				</div>

				@if(!string.IsNullOrEmpty(AlertMessage))
				{
					<div class="alert alert-@AlertType alert-dismissible fade show" role="alert">
						<div>@AlertMessage</div>
					</div>
				}
			</div>

			@*Footer*@
			<div class="card-footer text-center mt-2">
				<div class="btn-group">
					@if (!(AlertType == "success"))
					{
						<button type="submit" class="btn btn-outline-success bi bi-check-circle" @onclick="Modificar"> Modificar</button>
						<button type="button" class="btn btn-outline-danger bi bi-trash-fill" @onclick="Eliminar"> Eliminar</button>
					}
					<a href="/" class="btn btn-outline-secondary bi bi-arrow-bar-left"> Volver</a>
				</div>
			</div>
		</div>
	</div>
</EditForm>
@code {

	[Parameter]
	public int JugadorId { get; set; }
	public Jugadores Jugador { get; set; } = new Jugadores();
	public string AlertMessage { get; set; }
	public string AlertType { get; set; }

	protected async override Task OnInitializedAsync()
	{
		Jugador = await jugadoresService.Buscar(JugadorId);
	}

	public async Task Modificar()
	{
		var modificado = await jugadoresService.Modificar(Jugador);
		if (modificado)
		{
			AlertMessage = "Jugador modificado correctamente.";
			AlertType = "success";
		}
		else
		{
			AlertMessage = "Error al modificar el jugador.";
			AlertType = "danger";
		}
	}

	public async Task Eliminar()
	{
		try
		{
			var eliminado = await jugadoresService.Eliminar(JugadorId);
			if (eliminado)
			{
				AlertMessage = "Jugador eliminado correctamente.";
				AlertType = "success";
			}
			else
			{
				AlertMessage = "Error al eliminar el jugador.";
				AlertType = "danger";
			}
		}
		catch(Exception e)
		{
			AlertMessage = e.Message;
			AlertType = "danger";
		}

	}
}
