@page "/Delete/{JugadorId:int}"

@inject JugadoresService jugadoresService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Eliminar Jugador</PageTitle>
<EditForm Model="Jugador" OnValidSubmit="Eliminar">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="container">
		<div class="card shadow-lg">
			<div class="card-header text-center">
				<h5 class="card-title">Eliminar Jugador</h5>
			</div>

			<div class="card-body">
				<div class="mb-3">
					<label class="form-label"><strong>PrestamoId</strong></label>
					<InputNumber class="form-control" @bind-Value="Jugador.JugadorId" readonly />
				</div>

				<div class="mb-3">
					<label class="form-label"><strong>Nombres</strong></label>
					<InputText class="form-control" @bind-Value="Jugador.Nombres" readonly />
					<ValidationMessage For="@(() => Jugador.Nombres)" />
				</div>

				<div class="mb-3">
					<label class="form-label"><strong>Partidas</strong></label>
					<InputNumber class="form-control" @bind-Value="Jugador.Partidas" readonly />
					<ValidationMessage For="@(() => Jugador.Partidas)" />
				</div>
			</div>

			<div class="card-footer text-center mt-2">
				<a href="/" class="btn btn-secondary">Cancelar</a>
				<button type="submit" class="btn btn-primary">Eliminar</button>
			</div>
		</div>
	</div>
</EditForm>

@code {
	[Parameter]
	public int JugadorId { get; set; }
	public Jugadores Jugador { get; set; } = new Jugadores();

	protected async override Task OnInitializedAsync()
	{
		Jugador = await jugadoresService.Buscar(JugadorId);
	}

	public async Task Eliminar()
	{
		var eliminado = await jugadoresService.Eliminar(JugadorId);
		if (eliminado)
		{
			navigationManager.NavigateTo("/");
		}
	}

}
